**/Debug
**/Release
**/*.vcxproj.user
musikCore/3rdparty/OpenThreads/lib/Win32
musikCore/lib/OpenThreads*.lib
musikCore/lib/musikCore*.lib
musikCore/lib/musikCore*.exp
musikCore/lib/sqlite*.lib
musikCore/lib/taglib*.lib
musikCore/win32/core_APE/lib
musikCore/win32/core_cdda/lib
musikCore/win32/core_flac/lib
musikCore/win32/core_mp3/lib
musikCore/win32/core_mpc/lib
musikCore/win32/core_net/lib
musikCore/win32/core_ogg/lib
musikCore/win32/core_wav/lib
musikCore/win32/core_wma/lib
musikCore/win32/core_m4a/lib
musikCube/contrib/cube_mcAmp/lib/
musikCube/contrib/cube_miniPlayer/lib
musikCube/.vs
musikCube/bin/formats
musikCube/bin/plugins
musikCube/bin/MMShellHook*
musikCube/bin/musikCore_u*
musikCube/bin/musikCube*.exe
musikCube/bin/musikCube*.exp
musikCube/bin/musikCube*.ilk
musikCube/bin/musikCube*.lib
musikCube/bin/musikCube*.pdb
musikCube/bin/musikcube.dmp
musikCube/musikCube*.exe
musikCube/musikCube*.ilk
