H1
{
	text-align         : center;
	font-family        : Arial, Helvetica, sans-serif;
}

H2
{
	font-family        : Geneva, Arial, Helvetica, sans-serif;
}

CAPTION
{
  font-weight        : bold
}

A.qindex
{
}

A.qindexRef
{
}

A.el
{
  text-decoration   : none;
  font-weight       : bold
}

A.elRef
{
  font-weight       : bold
}

A.code
{
  text-decoration   : none;
  font-weight       : normal;
  color             : #111166
}

A.codeRef
{
  font-weight       : normal;
  color             : #111166
}

A
{
  text-decoration   : none;
  color             : #111166
}


A:hover
{
  text-decoration   : none;
  color             : #222277
}

DL.el
{
  margin-left        : -1cm
}

DIV.fragment
{
	width              : 98%;
	border             : 1px solid #CCCCCC;
	background-color   : #f5f5f5;
	padding-left       : 4px;
	margin             : 4px;
}

DIV.ah
{
  background-color  : black;
  font-weight       : bold;
  color             : #ffffff;
  margin-bottom     : 3px;
  margin-top        : 3px
}

TD.md
{
  background-color  : #DFDFDF;
  font-weight       : bold;
}

TD.mdname1
{
  background-color  : #DFDFDF;
  font-weight       : bold;
  color             : #602020;
}

TD.mdname
{
  background-color  : #DFDFDF;
  font-weight       : bold;
  color             : #602020;
  width             : 600px;
}

DIV.groupHeader
{
  margin-left       : 16px;
  margin-top        : 12px;
  margin-bottom     : 6px;
  font-weight       : bold
}

DIV.groupText
{
  margin-left       : 16px;
  font-style        : italic;
  font-size         : smaller
}

BODY
{
	background        : #CFCFCF;
	color             : #000000;
	margin-right      : 20px;
	margin-left       : 20px;
}

TD.indexkey
{
   background-color : #DFDFDF;
   font-weight      : bold;
   padding-right    : 10px;
   padding-top      : 2px;
   padding-left     : 10px;
   padding-bottom   : 2px;
   margin-left      : 0px;
   margin-right     : 0px;
   margin-top       : 2px;
   margin-bottom    : 2px
}

TD.indexvalue
{ 
   background-color : #DFDFDF;
   font-style       : italic;
   padding-right    : 10px;
   padding-top      : 2px;
   padding-left     : 10px;
   padding-bottom   : 2px;
   margin-left      : 0px;
   margin-right     : 0px;
   margin-top       : 2px;
   margin-bottom    : 2px
}

TR.memlist
{
   background-color : #EFEFEF;
}

P.formulaDsp
{
  text-align        : center;
}
IMG.formulaDsp { }
IMG.formulaInl     { vertical-align : middle; }
SPAN.keyword       { color          : #0000FF }
SPAN.keywordtype   { color          : #604020 }
SPAN.keywordflow   { color          : #e08000 }
SPAN.comment       { color          : #007700 }
SPAN.preprocessor  { color          : #0000FF }
SPAN.stringliteral { color          : #002080 }
SPAN.charliteral   { color          : #008080 }

.mdTable
{
	border: 1px solid #868686;
	background-color: #DFDFDF;
}
.mdRow
{
	padding: 8px 20px;
}
.mdescLeft
{
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FAFAFA;
	padding-left: 8px;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
}

.mdescRight
{
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	background-color: #FAFAFA;
	padding-left: 4px;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
	padding-bottom: 0px;
	padding-right: 8px;
}

.memItemLeft
{
	padding            : 4px 2px 4px 8px;
	margin             : 4px;
  border             : 1px solid #AAAAAA;
	background-color   : #EFEFEF;
	font-family        : Geneva, Arial, Helvetica, sans-serif;
	font-size          : 12px;
}

.memItemRight
{
	padding            : 4px 5px 4px 8px;
	margin             : 4px;
  border             : 1px solid #AAAAAA;
	background-color   : #EFEFEF;
	font-family        : Geneva, Arial, Helvetica, sans-serif;
	font-size          : 13px;
}
